@import "variables.styl"


body
    padding: 0
    margin: 0
    background-color: lightgray


.panorama
    height: 400px
    width: 100%
    background-color: blue

.cart-title
    text-shadow: 1px 1px black !important;
