@import "variables.styl"
@import "panorama.styl"
@import "title.styl"
@import "section.styl"
@import "painting.styl"
@import "footer.styl"


body
    padding: 0
    margin: 0
    background-color: back

#painting-view
    margin-top: 50px
