.panorama
    height: 500px
    width: 100%
    background-color: main
    background-image: url("../img/brushes.jpg")
    background-size: cover //cover/contain


    .title
        color: white
        text-shadow: 3px 3px 2px black
        font-size: 6em
