.section
    margin-top: 50px;
    background-color: white
    border-radius: 5px
    padding: 10px 15px
    //border: 2px solid main
    -webkit-box-shadow: 0 10px 6px -6px #777
    -moz-box-shadow: 0 10px 6px -6px #777
    box-shadow: 0 10px 6px -6px #777


/*#painting-view.section
    -webkit-box-shadow: none
    -moz-box-shadow: none
    box-shadow: none
*/
