<html>
    <head>
        <title>My Paintings</title>
        <link rel="stylesheet" href="dist/css/main.css" type="text/css" />

        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>

    <body>
        <!--<div class="panorama">

        </div>-->


        <div class="container" id="paintings">

            <input type="text" placeholder="Enter a Color" @keyup.enter="filterByColor(searchColor)" v-model='searchColor'/>
            <button v-on:click="showAll()">All</button>
            <button v-on:click="filterByColor('green')">Green</button>
            <button v-on:click="filterByColor('blue')">Blue</button>
            <button v-on:click="filterByColor('yellow')">Yellow</button>
            <button v-on:click="filterByColor('black')">Black</button>

            <br><br>

            <!--<label for="check-green">
                <input id='check-green' class="filled-in" type="checkbox" v-model="checkboxes.green" @change="checkboxClicked"/>
                <span>Green</span>
            </label>

            <label for="check-yellow">
                <input id='check-yellow' class="filled-in" type="checkbox" v-model="checkboxes.yellow" @change="checkboxClicked"/>
                <span>Yellow</span>
            </label>-->

            <br><br><br><br><br><br>

            <label v-for="(color, index) in colors" :for="color.id">
                <input :id='color.id' class="filled-in" type="checkbox" :value='color.color' v-model="checked" @change="checkboxClicked"/>
                <span>{{color.name}}</span>
            </label>
            <button v-on:click="resetSelection">Reset Selection</button>


            <br><br><br><br><br><br>



            <div class="row">
                <div v-for="(p, i) in paintings">

                    <div v-if="i % 2 == 0" class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image">
                                <img :src="'dist/img/paintings/' + p.path">
                                <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                {{p.title}}
                            </div>
                        </div>
                    </div>
                    <div v-if="i % 2 != 0" class="col s12 m6 l4 offset-m6 offset-l8">
                        <div class="card">
                            <div class="card-image">
                                <img :src="'dist/img/paintings/' + p.path">
                                <span class="card-title"></span>
                            </div>
                            <div class="card-content">
                                {{p.title}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script src="node_modules/vue/dist/vue.js"></script>
        <script src="dist/js/main.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
</html>
